<div class="action">
    <div class="action-item">
        <span (click) = "showAlert()" class="material-icons action">
            dialpad
        </span>
        <p>Redial</p>
    </div>
    <div class="action-item">
    <span (click) = "showAlert()" class="material-icons">
        voicemail
    </span>
    <p>Check voicemail</p>
    </div>
    <div class="action-item">
        <span (click) = "showAlert()" class="material-icons">
            notifications_off
        </span>
        <p>Disable alerts</p>
    </div>
</div>
